.navBar{
    position:fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
}
/* .logo{
    border-radius: 50%;
} */
.navBarOne, .navBarTwo{
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}
.navBarOne{
    background-color: var(--light-black-color);
}
.navBarOne .icon:hover{
    color: var(--black-color);
}
.navBarOne .atb{
    gap: 1rem;
}
.navBarOne .atb span{
    color: var(--black-color);
    font-size: 13px;
    cursor: pointer;
}
.navBarOne .atb span:hover{
    color: var(--purple-color);
    font-size: 700;
}
.navBarTwo{
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: .3s ease-in-out;
}
.navBarTwo .logoDiv .logo{
    width: 20%;
    border-radius: 50%;
}

.navBarTwo{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 3rem;
        transition: .3s ease-in-out;

    .logoDiv {
        .logo{
            width: 20%;
        }
    }
@media screen and (max-width: 768px) {
    
    .navBarMenu{
        position: absolute;
        background: var(--grey-color);
        padding: 1.5rem;
        border-radius: 10px;
        top: 5rem;
        right: -50%;
        width: 80%;
        transform: translateX(50%);
        z-index: 2000;
        box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
        border: 3px solid var(--whiteColor);
        transition: .4s ease-in-out;

        .menu{
            flex-direction: column;
            gap: .5rem;
            text-align: center;
            .listItem{
                padding: .5rem 0;
                cursor: pointer;
                color: var(--black-color);
            }
            &:hover{
                color: var(--purple-color);
                font-weight: 700;
            }
        }
    }

    .btnOne{
        display: block;
        justify-content: center;
        margin: auto;
        margin-top: 1rem;
    }

    .toggleIcon{
        display: block;
    }
    .toggleIcon .icon{
            font-size: 30px;
            color: var(--black-color);
        }
    .showNavBar{
        right: 50%;
        background: var(--light-black-color);
        transition: .5s ease-in-out;
    }
}

}
.toggleIcon {
    display: none;
}

@media screen and (min-width: 768px){
    .navBarMenu{
        display: flex;
        flex-direction: row;
    }
    .navBar{
        align-items: center;
    }
    .navBar .navBarOne .none{
        display: flex;
        gap: 1.5rem;
    }
    .navBar .navBarOne .none li{
        font-size: 13px;
        gap: .5rem;
        color: var(--black-color);
    }
    .navBar .navBarOne .none li:hover{
        color: var(--purple-color);
        text-decoration: underline;
    }
    .navBarTwo{
        justify-content: space-between;
        align-items: center;
    }
    .navBarTwo .logoDiv .logo{
        max-width: 20%;
    }
    .navBarTwo .menu{
        flex-direction: row;
        gap: .5rem;
    }
    .navBarTwo .menu .listItem{
        padding: 0 .5rem;
        font-size: 14px;
        cursor: pointer;
        color: var(--black-color);
        font-weight: 700;
    }
    .navBarTwo .menu .listItem:hover{
        color: var(--purple-color);
        font-weight: 700;
    }
    .navBarTwo .btnOne, .toggleIcon{
        display: none;
    }
}