.video {
    padding-top: 10rem;
    text-align: center;
    gap: 2rem;
    flex-direction: column;
  }
  .mainText{

    color: var(--purple-color);
    font-weight: 700;
    font-size: 16px;
  }
  .videoImages {
    position: relative;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
  } 
  
    .videoDiv {
    width: 100%;
  }
  
  .video-mp4 {
    align-self: center;
    border-radius: 10rem;  
  }

  .quote {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    z-index: 2;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.7);
} 

@media (min-width: 240px) and (max-width: 420px) {
    .video-mp4{
        width: 100%;
    }
    .quote{
        top: 75%;
    }
    .quote h1{
        
        font-size: 1rem;
    
    }
}

@media screen and (min-width: 420px) {
    .video-mp4{
        width: 100%;
    }
    .quote{
        top: 80%;
    }
    .quote h1{
        font-size: 10px;
    }
}
@media screen and (min-width: 480px){
    .video{
        padding-top: 12rem;
    }
    .video-mp4{
        width: 100%;
    }
    .quote h1{
        font-size: 1rem;
    }
    .quote{
        top: 75%;
    }
}

@media screen and (min-width: 570px){
    .mainText{
        width: 80%;
        font-size: 16px;
    }
    .video-mp4{
        width: 100%;
        border-radius: 15rem;
    }
    .quote h1{
        font-size: 1.2rem;
    }
    .quote{
        top: 85%;
    }
}

@media screen and (min-width: 680px){
    .mainText{
        width: 80%;
        font-size: 16px;
    }
    .videoDiv{
        width: 80%;
    }
    .quote h1{
        font-size: 1.5rem;
    }
    .quote{
        top: 80%;
    }
}

@media screen and (min-width: 960px){
    .video{
        padding-top: 13rem;
    }
    .mainText{
        width: 80%;
    padding-bottom: 1.7rem;
    font-size: 18px;
    }
    .videoDiv{
        width: 70%;
    }

    .video-mp4{
        height: 100%;
        width: 100%;
        border-radius: 15rem;
    }
}
